// Paleta principal
$color-primario: #0883C9;
$color-primario-oscuro: #0261a0;
$color-secundario: #198754;

// Grises y fondo
$fondo-body: #F2F2F2;
$fondo-tarjeta: #e3f2fd;

// Tipografías
$color-texto: #000;
